*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
.kotlin
/appsflyer/exportedAppsFlyerBridge/
Secrets.xcconfig
ios-sdk-logs.txt
*.xcodeproj/
*.xcworkspace/
xcuserdata/
appsflyer-kmp-plan.md
pre-start-config-problem.md
